* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    width: 100%;
    height: 60px;
    background: linear-gradient(
        270deg,
        rgb(152, 207, 207),
        rgb(120, 101, 189),
        rgb(174, 115, 189),
        rgb(172, 88, 127)
      );
}

main{
    width: 100%;
    height: 100vh;
    background-color: rgb(214, 214, 214);
}

.card-imagem{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    position: relative;
    top: 100px;
    left: 13px;
    border: 3px solid rgb(0, 0, 0);
}

.imagens{
    display: flex;
    width: 1869px;
    height: 400px;
    justify-content: space-between;
    position: relative;
}

.btn-arrow{
    position: relative;
    color: white;
    width: 24px;
    height: 24px;
    top: 13px;
    left: 96vw;
}

.arrow{
    background-color: #00000000;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s ease;
}

.arrow:hover{
    transform: rotate(360deg);
}

.textos{
    display: flex;
}

/* DJONATHAN */
.descricao-djonathan{
    width: 200px;
    height: 200px;
    position: relative;
    left: 59px;
}

.linha{
    width: 198px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    opacity: 100%;
    border: none;
    border-radius: 7px;
    position: relative;
    bottom: 14px;
}

/* ISABELLA */
.descricao-isa{
    width: 200px;
    height: 200px;
    position: relative;
    left: 283px;
}

.linha-isa{
    width: 140px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    opacity: 100%;
    border: none;
    border-radius: 7px;
    position: relative;
    bottom: 14px;
}

/* JOHANN */
.descricao-johann{
    width: 213px;
    height: 200px;
    position: relative;
    left: 445px;
}

.linha-johann{
    width: 213px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    opacity: 100%;
    border: none;
    border-radius: 7px;
    position: relative;
    bottom: 14px;
}

/* GABI FERRARINI */
.descricao-gabiF{
    width: 213px;
    height: 200px;
    position: relative;
    left: 628px;
}

.linha-gabiF{
    width: 213px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    opacity: 100%;
    border: none;
    border-radius: 7px;
    position: relative;
    bottom: 14px;
}

/* GABI REPPOLD */
.descricao-gabiR{
    width: 200px;
    height: 200px;
    position: relative;
    left: 834px;
}

.linha-gabiR{
    width: 170px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    opacity: 100%;
    border: none;
    border-radius: 7px;
    position: relative;
    bottom: 14px;
}

/* ESTILIZAÇÃO DO FOOTER*/
footer{
    background: linear-gradient(
        270deg,
        rgb(152, 207, 207),
        rgb(120, 101, 189),
        rgb(174, 115, 189),
        rgb(172, 88, 127)
      );
    width: 100%;
    height: 200px;
}

.sobre{
    color: rgba(255, 255, 255, 0.822);
    width: 300px;
    font-size: small;
    display: grid;
    gap: 8px;
    position: relative;
    bottom: 20px;
    left: 83vw;
}

.footer-terms{
    position: relative;
    top: 85px;
    left: 46vw;
    width: 140px;
    display: grid;
    gap: 5px;

}

.infos{
    width: 140px;
    display: grid;
    font-size: small;
    text-align: center;
    color: rgba(255, 255, 255, 0.822);

}

.data{
    width: 140px;
    display: grid;
    font-size: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.822);
}